.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    top: 80px;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-bottom: 10px;
    min-width: 200px;
}


.widgets_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Add the following CSS properties */
    flex-wrap: nowrap; /* Prevent wrapping of items */
}

.widgets_header > h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0; /* Remove default margin */
}

.widgets__article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets__article:hover{
    background-color: whitesmoke;
}

.widgets_articleleft{
    color: #0177b7;
    margin-right: 5px;

}

.widgets_articleleft > .MuiSvgIcon-root{
    font-size: 20px;
}


.widgets_articleRight{
    flex: 1;

}

.widgets_articleRight > h4{
    font-size: 14px;

}

.widgets_articleRight > p{
    font-size: 12px;
    color: gray;

}
